<h2>Sign up as <%= @role.capitalize if @role.present? %></h2>

<% if @role == 'jobseeker' %>
  <%= link_to "Start Jobseeker Registration", wizard_path(steps.first, role: 'jobseeker'), class: 'button primary' %>
<% elsif @role == 'company' %>
  <%= link_to "Start Company Registration", wizard_path(steps.first, role: 'company'), class: 'button primary' %>
<% else %>
  <p>Please select a role to begin registration:</p>
  <%= link_to "Sign up as Jobseeker", new_user_registration_path(role: 'jobseeker'), class: 'button primary' %>
  <%= link_to "Sign up as Company", new_user_registration_path(role: 'company'), class: 'button primary' %>
<% end %>
