<div class="form-container">
  <div class="text-content">
    <p>Get matched with jobs you’ll love and take control of your professional journey</p>
    <img src="<%= asset_path "undraw_job-hunt_5umi.svg" %>" alt="image d'accueil" class="text-content-image">
  </div>

  <div class="form-wrapper">
    <h2>Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        <%= f.input :role, as: :hidden, input_html: { value: params[:role] } %>
        <% if params[:role] == 'jobseeker' %>
          <%= f.simple_fields_for :jobseeker_profile do |p| %>
            <%= p.input :first_name %>
            <%= p.input :last_name %>
            <%= p.input :phone_number %>
            <%= p.input :date_of_birth %>
            <%= p.input :skills %>
            <%= p.input :hobbies %>
            <%= p.input :location,
              placeholder: "Enter Location",
                input_html: {data: {address_autocomplete_target: "address"}},
                wrapper_html: {data: {controller: "address-autocomplete",
                                      address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
            %>
          <% end %>
        <% elsif params[:role] == 'company' %>
          <%= f.simple_fields_for :company do |c| %>
            <%= c.input :name %>
            <%= c.input :location,
              placeholder: "Enter Location",
                input_html: {data: {address_autocomplete_target: "address"}},
                wrapper_html: {data: {controller: "address-autocomplete",
                                      address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
            %>
            <%= c.input :description %>
            <%= c.input :industry %>
            <%= c.input :employee_number %>
          <% end %>
        <% end %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
    <% end %>
  </div>
</div>
