<div class="form-container">
  <div class="text-content">
    <p>Get matched with jobs you’ll love and take control of your professional journey</p>
    <img src="<%= asset_path "undraw_job-hunt_5umi.svg" %>" alt="image d'accueil" class="text-content-image">
  </div>

  <div class="form-wrapper">
    <h2>Create your account</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-section" id="section1">
        <div class="form-inputs">
          <%= f.input :email %>
          <%= f.input :password %>
          <%= f.input :password_confirmation %>
          <%= f.input :role, as: :hidden, input_html: { value: params[:role] } %>
        </div>
        <button type="button" onclick="showSection('section2')">Next</button>
      </div>

        <% if params[:role] == 'jobseeker' %>
          <div class="form-section" id="section2" style="display: none;">
            <div class="form-inputs">
              <%= f.simple_fields_for :jobseeker_profile do |p| %>
                <%= p.input :first_name %>
                <%= p.input :last_name %>
                <%= p.input :phone_number %>
              <% end %>
            </div>
            <button type="button" onclick="showSection('section1')">Back</button>
            <button type="button" onclick="showSection('section3')">Next</button>
          </div>

          <div class="form-section" id="section3" style="display: none;">
            <div class="form-inputs">
              <%= f.simple_fields_for :jobseeker_profile do |p| %>
                <%= p.input :date_of_birth %>
              <% end %>
            </div>
            <button type="button" onclick="showSection('section2')">Back</button>
            <button type="button" onclick="showSection('section4')">Next</button>
          </div>

            <div class="form-section" id="section4" style="display: none;">
              <div class="form-inputs">
                <%= f.simple_fields_for :jobseeker_profile do |p| %>
                  <%= p.input :location,
                    placeholder: "Enter Location",
                      input_html: {data: {address_autocomplete_target: "address"}},
                      wrapper_html: {data: {controller: "address-autocomplete",
                                            address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
                  %>
                <% end %>
              </div>
              <button type="button" onclick="showSection('section3')">Back</button>
              <button type="button" onclick="showSection('section5')">Next</button>
            </div>

          <div class="form-section" id="section5" style="display: none;">
            <div class="form-inputs">
              <%= f.simple_fields_for :jobseeker_profile do |p| %>
                <%= p.input :skills %>
                <%= p.input :hobbies %>
              <% end %>
            </div>
            <div class="sending-form-btn">
              <button type="button" onclick="showSection('section4')">Back</button>
              <div class="form-actions">
                <%= f.button :submit, "Sign up" %>
              </div>
            </div>
          </div>

        <% elsif params[:role] == 'company' %>
        <div class="form-section" id="section2" style="display: none;">
          <div class="form-inputs">
            <%= f.simple_fields_for :company do |c| %>
              <%= c.input :name %>
            <% end %>
          </div>
          <button type="button" onclick="showSection('section1')">Back</button>
          <button type="button" onclick="showSection('section3')">Next</button>
        </div>

        <div class="form-section" id="section3" style="display: none;">
          <div class="form-inputs">
            <%= f.simple_fields_for :company do |c| %>
              <%= c.input :location,
                placeholder: "Enter Location",
                  input_html: {data: {address_autocomplete_target: "address"}},
                  wrapper_html: {data: {controller: "address-autocomplete",
                                        address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
              %>
            <% end %>
          </div>
          <button type="button" onclick="showSection('section2')">Back</button>
          <button type="button" onclick="showSection('section4')">Next</button>
        </div>

        <div class="form-section" id="section4" style="display: none;">
          <div class="form-inputs">
            <%= f.simple_fields_for :company do |c| %>
            <div class="dropdown-container">
              <%= c.collection_select :industry, Company.industries,:to_s,:to_s, prompt: "Select your industry" %>
            </div>
              <%= c.input :description %>
              <%= c.input :employee_number %>
            <% end %>
          </div>
          <div class="sending-form-btn">
            <button type="button" onclick="showSection('section3')">Back</button>
            <div class="form-actions">
              <%= f.button :submit, "Sign up" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  function showSection(sectionId) {
    // Masquer toutes les sections
    const sections = document.querySelectorAll('.form-section');
    sections.forEach(section => {
      section.style.display = 'none';
    });

    // Afficher la section demandée
    document.getElementById(sectionId).style.display = 'block';
  }
</script>
