<div class="container">

  <div class="mb-4">
    <h2>
      <%= @application.user.jobseeker_profile.first_name %> <%= @application.user.jobseeker_profile.last_name %>'s application
    </h2>
  </div>

  <div class="card mb-4">
    <div class="row g-0">
      <div class="col-md-4 d-flex align-items-center">
        <%= image_tag @application.user.jobseeker_profile.photo, alt: 'profile picture', class: "img-fluid" %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p><strong>Age:</strong> <%= ((Time.zone.now - @application.user.jobseeker_profile.date_of_birth.to_time) / 1.year.seconds).floor %> years old</p>
          <p><strong>Skills:</strong> <%= @application.user.jobseeker_profile.skills %></p>
          <p><strong>Hobbies:</strong> <%= @application.user.jobseeker_profile.hobbies %></p>
          <p><strong>Location:</strong> <%= @application.user.jobseeker_profile.location %></p>
          <div class="d-flex justify-content-center">
            <% unless @application.match %>
              <%= link_to "Accept", edit_company_application_path(@company, @application), class: 'btn btn-primary me-2' %>
            <% else %>
              <%= link_to "Reject", edit_company_application_path(@company, @application), class: 'btn btn-danger me-2' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      Contact Information
    </div>
    <div class="card-body">
      <p><strong>Email:</strong> <%= @application.user.email %></p>
      <p><strong>Phone Number:</strong> <%= @application.user.jobseeker_profile.phone_number %></p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Status
    </div>
    <div class="card-body">
      <p>Stage of the application: <%= @application.stage %></p>
    </div>
  </div>
</div>
