<h2>Step 2: Contact Details</h2>

<%= form_for @user, url: wizard_path(@user), method: :put do |f| %>
  <%= devise_error_messages! %> <%# Keep devise error messages if you want to display devise errors here %>

  <%= f.fields_for :jobseeker_profile_attributes, @user.jobseeker_profile || @user.build_jobseeker_profile do |profile_fields| %>
    <div class="field">
      <%= profile_fields.label :phone_number %><br />
      <%= profile_fields.text_field :phone_number %>
    </div>

    <div class="field">
      <%= profile_fields.label :date_of_birth %><br />
      <%= profile_fields.date_field :date_of_birth %>
    </div>

    <div class="field">
      <%= profile_fields.label :city %><br />
      <%= profile_fields.text_field :city %>
    </div>

    <div class="field">
      <%= profile_fields.label :country %><br />
      <%= profile_fields.text_field :country %>
    </div>
  <% end %>

  <div class="form-actions">
    <%= render_wizard form: f, previous_button_text: "Previous", next_button_text: "Next Step" %>
  </div>
<% end %>
