<div class="link-back"><i class="fas fa-angle-left"></i><strong><%= link_to "Back to offers", jobs_path %></strong></div>
<div class="show-container">
  <div class="show-layout">
    <div class="media-box">
      <img src="https://4.bp.blogspot.com/-M_CSeh2f0Fg/UUaoBn9JmMI/AAAAAAAAgVQ/WEEyDd-B4Lg/s1600/Google+office+3.jpg" alt="office img" class="media-img">
    </div>
  </div>

  <div class="show-layout">
    <div class="job-offer-card">
      <div class="job-offer-header">
        <div class="job-offer-header-layout">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" alt="company logo" class="company-logo">
          <div class="job-card-header-info">
            <h2><%= @job.job_title %></h2>
            <div class="flexbox">
              <p><%= @job.company.name %></p>
              <p>|</p>
              <p><%= @job.location %></p>
            </div>
          </div>
        </div>
        <div id="favorite-button">
          <% if current_user.favorite_jobs.include?(@job) %>
            <%= link_to job_favorites_path(@job), data: { turbo_method: :delete }, class: "favorite-toggle" do %>
              <i class="fas fa-bookmark"></i>
            <% end %>
          <% else %>
            <%= simple_form_for [@job, @favorite] do |f| %>
              <button type="submit" class="favorite-toggle">
                <i class="far fa-bookmark"></i>
              </button>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="job-card-content">
        <p><%= @job.contract %></p>
        <p><%= @job.experience %></p>
        <p><%= @job.language %></p>
        <p><%= @job.company.employee_number %><span class="material-symbols-outlined">group</span></p>
      </div>
      <div class="job-offer-box">
        <h4>📝Company description:</h4>
        <p><%= @job.company.description %></p>
      </div>
      <div class="job-offer-box">
        <h4>🎯 Missions:</h4>
        <p><%= @job.missions %></p>
      </div>
      <div class="job-offer-footer">
        <div class="salary-box">
          <h4> 💰 Salary: $<%= @job.salary %></h4>
        </div>
        <div data-controller="modal">
          <button data-action="modal#open" class="btn-apply">Apply</button>

          <div data-modal-target="container" class="modal-container hidden">
            <div class="modal-background" data-action="click->modal#close"></div>


            <div class="modal-content">
              <div class="modal-header">
                <h2>Application confirmation</h2>
                <button class="modal-close" data-action="modal#close">&times;</button>
              </div>

              <div class="modal-body">
                <%= form_with model: @application, url: job_applications_path(@job), method: :post, data: { turbo_frame: "modal" } do |f| %>
                  <%= f.hidden_field :job_id, value: @job.id %>
                  <%= f.hidden_field :stage, value: 'Applied' %>
                  <%= f.hidden_field :match, value: false %>

                  <%= f.submit "Confirm application", class: "btn-apply" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
