<div class="#">
  <div class="company-info-container">
    <div>
      <h2><%= @job.job_title %> at <%= @job.company.name %></h2>
    </div>
    <div>
      <p><%= image_tag @job.company.photo, alt:'company logo', height:'256px' %></p>
    </div>
    <div>
      <p><span class="material-symbols-outlined">group</span><strong><%= @job.company.employee_number %></strong> collaborators </p>
    </div>
    <div>
      <p><%= @job.company.location %></p>
    </div>
    <div>
      <p><%= @job.company.industry %></p>
    </div>
    <div>
      <p><%= @job.contract %></p>
    </div>
    <p><%= @job.company.description %></p>
  </div>
  <div class="job-offer-content-container">
    <div class="job-offer-important-content">
      <p><%= @job.job_title %></p>
      <p><%= @job.location %></p>
      <p><%= @job.contract %></p>
      <p><%= @job.experience %></p>
      <p><%= @job.salary %>$</p>
    </div>
    <div class="job-offer-description-criteria">
      <div class="job-offer-missions-content">
        <h3>Your missions:</h3>
        <p><%= @job.missions %></p>
      </div>
      <div>
        <h3>Languages:</h3>
        <p><%= @job.language %></p>
      </div>
    </div>
  </div>
</div>

<div data-controller="modal">
  <button data-action="modal#open" class="btn btn-primary">Apply</button>

  <div data-modal-target="container" class="modal-container hidden">
    <div class="modal-background" data-action="click->modal#close"></div>

    <div class="modal-content">
      <div class="modal-header">
        <h2>Application confirmation</h2>
        <button class="modal-close" data-action="modal#close">&times;</button>
      </div>

      <div class="modal-body">
        <%= form_with model: @application, url: job_applications_path(@job), method: :post, data: { turbo_frame: "modal" } do |f| %>
          <%= f.hidden_field :job_id, value: @job.id %>
          <%= f.hidden_field :stage, value: 'Applied' %>
          <%= f.hidden_field :match, value: false %>

          <%= f.submit "Confirm application", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div>
  <div id="favorite-button">
    <% if current_user.favorite_jobs.include?(@job) %>
      <%= link_to "Unfavorite", job_favorites_path(@job), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <% else %>
      <%= simple_form_for [@job, @favorite] do |f| %>
        <%= f.submit "Add to favorites", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
  <%= link_to "Back to offers", jobs_path %>
</div>
