<%= form_with model: @user, local: true do |form|  %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <%= form.label :email, class: "form-label" %>
        <%= form.email_field :email, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :password, class: "form-label" %>
        <%= form.password_field :password, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :password_confirmation, class: "form-label" %>
        <%= form.password_field :password_confirmation, class: "form-control" %>
      </div>
      <%= form.submit "Update my login information", class: "btn btn-primary" %>
    </div>
<% end %>

<% if @user.jobseeker_profile %>
  <%= simple_fields_for @user.jobseeker_profile do |p| %>
    <div class="col-md-6">
      <div class="mb-3">
          <%= p.label :first_name, class: "form-label" %>
          <%= p.text_field :first_name, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= p.label :last_name, class: "form-label" %>
          <%= p.text_field :last_name, class: "form-control" %>
        </div>

      <div class="mb-3">
        <%= p.label :phone_number, class: "form-label" %>
        <%= p.text_field :phone_number, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= p.label :date_of_birth, class: "form-label" %>
        <%= p.date_field :date_of_birth, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= p.label :skills, class: "form-label" %>
        <%= p.text_field :skills, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= p.label :hobbies, class: "form-label" %>
        <%= p.text_field :hobbies, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= p.label :location, class: "form-label" %>
        <%= p.text_field :location, class: "form-control" %>
      </div>
      <%= p.submit "Update my job seeker information", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>

<% if @user.company %>
  <%= simple_fields_for @user.company do |c| %>
    <div class="col-md-6">
      <div class="mb-3">
        <%= c.label :employee_number, class: "form-label" %>
        <%= c.text_field :employee_number, class: "form-control" %>
      </div>
      <%= c.submit "Update my employee number", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
</div>
