<div>
  <% if @user.jobseeker_profile %>
    <h2><%= @user.jobseeker_profile.first_name %> <%= @user.jobseeker_profile.last_name %>'s profile</h2>
  <% else %>
    <h2><%= @user.company.name %>, employee: <%= @user.company.employee_number %>'s profile</h2>
  <% end %>
</div>

<div>
  <h3>Contact Information</h3>
  <p><strong>Email:</strong> <%= @user.email %></p>
</div>

<% if current_user === @user %>
  <%= link_to "Edit", edit_user_path(@user), class: "btn btn-success" %>
  <% if @user.company %>
    <%= link_to "View my company", company_path(@user.company), class: "btn btn-primary" %>
  <% end %>
<% end %>
