<div>
  <% if @user.jobseeker_profile %>
    <% if @user.jobseeker_profile.photo.attached? %>
      <%= image_tag @user.jobseeker_profile.photo, alt: 'profile picture', height:'256px' %>
    <% else %>
      <%= image_tag "https://res.cloudinary.com/dqyti4nxi/image/upload/v1738668927/sample_pfp.webp", alt: 'profile picture', height:'256px' %>
    <% end %>
    <h2><%= @user.jobseeker_profile.first_name %> <%= @user.jobseeker_profile.last_name %>'s profile</h2>
  <% else %>
    <% if @user.company.photo.attached? %>
      <%= image_tag @user.company.photo, alt: 'logo', height:'256px' %>
    <% else %>
      <%= image_tag "https://res.cloudinary.com/dqyti4nxi/image/upload/v1738668927/sample_pfp.webp", alt: 'profile picture', height:'256px' %>
    <% end %>
    <h2><%= @user.company.name %></h2>
  <% end %>
</div>

<div>
  <h3>Contact Information</h3>
  <p><strong>Email:</strong> <%= @user.email %></p>
</div>

<% if current_user === @user %>
  <%= link_to "Edit", edit_user_path(@user), class: "btn btn-success" %>
  <% if @user.company %>
    <%= link_to "View my company", company_path(@user.company), class: "btn btn-primary" %>
  <% end %>
<% end %>
