<h1 class="job-listings-title">Job Listings</h1>

<div class="container-job-listing">
  <div class="action-job-listing">
    <%= link_to "Create a New Job", new_company_job_path(@company), class: "btn-create-job"%>
  </div>

  <div class="container-card">
    <% @jobs.each do |job| %>
      <div class="job-card-content">
        <div class="job-card-content-header">
          <img src="<%= asset_path "logo.png" %>" alt="Company logo" class="company-logo">
          <%= link_to "Edit", edit_company_job_path(job.company, job), class: "btn-action-edit" %>
        </div>

        <h3 class="job-title"><%= job.job_title.capitalize %></h3>

        <div class="job-details">
          <span class="job-type"><%= job.contract %></span>
          <span class="experience-level"><%= job.experience %></span>
        </div>

        <div class="salary">💲<%= job.salary %></div>
        <div class="location"><%= job.location %></div>
      </div>
      <%= button_to "Delete", company_job_path(job.company, job), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn-delete" %>
    <% end %>
  </div>
</div>
